{% extends 'base.html' %}

{% block title %}
Crea Nueva Categoria
{% endblock %}
    
{% block content %}
<div class="form-container">
   <form method="post">
        {{ form.csrf_token }}
        <div>
                {{ form.category.label }}
                {{ form.category() }}
                {% if form.category.errors %}
                   {% for error in form.category.errors %}
                   <p>{{ error }}</p>
                   {% endfor %}
                {% endif %}
        </div>
        <div>
                {{ form.description.label }}
                {{ form.description() }}
                {% if form.description.errors %}
                   {% for error in form.description.errors %}
                   <p>{{ error }}</p>
                   {% endfor %}
                {% endif %}
        </div>
        <div>
                {{ form.submit(class="btn") }}
        </div>
   </form>
</div>
{% endblock %}
    