@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: beige;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    padding-left: 0;
}

nav li {
    list-style: none;
    display: inline-block;
    width: 150px;
    height: 30px;
}

nav li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 700;
    padding-top: 10px;
}

nav li a:hover {
    border-bottom: 3px solid black;
}

.btn {
    display: block;
    width: 200px;
    padding: 10px;
    border: none;
    background-color: rgb(62, 234, 117);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#categories {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #categories td, #categories th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #categories tr:nth-child(even){background-color: #f2f2f2;}
  
  #categories tr:hover {background-color: #ddd;}
  
  #categories th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

.fa {
    font-size: 30px;
}

.fa-pencil {
    color: green;
}

.fa-trash {
    color: red;
}

table form {
    display: inline-block;
}

table a {
    text-decoration: none;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    background-color: white;
    box-shadow: -5px 5px 5px grey;
}