{% extends 'base.html' %}

{% block title %}
Categories
{% endblock title %}

{% block content %}
    <h1>Categorias</h1>
    <a href="{{ url_for('create_cat') }}" class="btn">Nueva Categoria</a>
    <h2>Lista de Categorias</h2>
    <table id="categories">
        <thead>
            <tr>
                <th>ID</th>
                <th>Categoria</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cat in categories %}
                <tr>
                    <td>{{ cat.id }}</td>
                    <td>{{ cat.category }}</td>
                    <td>{{ cat.description }}</td>
                    <td>
                        <a href="{{ url_for('update_cat', id=cat.id) }}">
                            <i class="fa fa-pencil"></i>
                        </a> -
                        <a href="{{ url_for('delete_cat', id=cat.id) }}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
    